/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#side {
float: right;
padding-top: 1em;
padding-left: 1em;
padding-bottom: 1em;
width: 12em;

}
#side a {

font-size: small;
}

