
<div class="fields">		
		<p >
			<%= f.label :name,"Option"	%>
			<%= f.text_field :name	%>
<input type="text" name="options[]"/>

<a onclick="remove_parent(this);return false;">Remove</a>
		</p>
</div >
<script type="text/javascript">
	function remove_parent(node){
		node.parentNode.innerHTML = "";
	}
</script>
